{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/clock.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/js/clock.js') }}"></script>
{% endblock %}
<div class="clock center">
    <div class="knob center"></div>
    <div class="box seconds">
        <div class="arm second"></div>
    </div>
    <div class="box minutes">
        <div class="arm minute"></div>
    </div>
    <div class="box hours">
        <div class="arm hour"></div>
    </div>
    <div class="minute-lines">
        <div class="min-0 long dark"></div>
        <div class="min-1"></div>
        <div class="min-2"></div>
        <div class="min-3"></div>
        <div class="min-4"></div>
        <div class="min-5 dark"></div>
        <div class="min-6"></div>
        <div class="min-7"></div>
        <div class="min-8"></div>
        <div class="min-9"></div>
        <div class="min-10 dark"></div>
        <div class="min-11"></div>
        <div class="min-12"></div>
        <div class="min-13"></div>
        <div class="min-14"></div>
        <div class="min-15 long dark"></div>
        <div class="min-16"></div>
        <div class="min-17"></div>
        <div class="min-18"></div>
        <div class="min-19"></div>
        <div class="min-20 dark"></div>
        <div class="min-21"></div>
        <div class="min-22"></div>
        <div class="min-23"></div>
        <div class="min-24"></div>
        <div class="min-25 dark"></div>
        <div class="min-26"></div>
        <div class="min-27"></div>
        <div class="min-28"></div>
        <div class="min-29"></div>
    </div>
</div>